 {% extends 'base.html' %} {% block title%}Delete Patient Informations {% endblock%}{% block content%}

{% if user.is_authenticated %}
{% if user.id == patient.Center_ID.id %}
<h3>Delete  Patient Informations:</h3>
<br/>


<small>{{patient.Patient_Name}}</small><br/><hr>
<small>{{patient.National_ID}}</small>

<br/>
<br/>
<br/>
<br/>
<marquee behavior="scroll" direction="left" style="color:red;" ><b>once you delete this patient all follow up will be delete too </b></marquee>

<div class="form-group">
    <form method="POST">
        {% csrf_token %} 
<br/>
<strong>Are you sure you want to Delete this Patient </strong><br/>

<br>


        <button class="btn btn-danger"  href="{% url 'delete_patient' patient.pk %}">Delete Patient</button>

</div>
{% else %}
you are not allow here !!
{% endif%}
{%  else %}
<strong>Please Login</strong>
{% endif %}

{% endblock%}